body {
  background-color: #aaa;
  font-family: Sans-Serif;
}

canvas {
  background-color: #fff;
  border: 5px solid rgb(184, 51, 51);
  /* NOTE: This size is changed if in iframe - see below '.iframe canvas' */
  width: 700px;
  height: 600px;
  display: block;
}

.divcanvas {
  position: relative;
  display: inline-block;
}

.playpause {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100%;
  height: 100%;
  font-size: 60px;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.3);
  transition: opacity 0.2s ease-in-out;
}
.playpausehide,
.playpause:hover {
  opacity: 0;
}
.iframe .divcanvas {
  display: block;
}
